{% extends 'user/base.html' %}
{% block main %}
<div class="ui equal width left aligned padded grid stackable">
    <div class="ui row">
        <div class="ui sixteen wide column">
            <div class="ui segments">
                <div class="ui segment" style="padding-bottom: 0px;">
                    <h5 class="ui left floated header">
                        设备列表
                    </h5>
                    <a href="/user/device/add" class="ui right floated basic green button">增加设备</a>
                    <div class="clearfix"></div>
                </div>
                <div class="ui segment">
                    <div class="ui four stackable cards">
                        {% if len == 0 %}
                            当前设备为空，请首先增加新设备
                        {% else %}
                        {% for i in devicelist %}
                        <div class="ui card">
                            <div class="image">
                                <img src="" data-src="" class="transition visible">
                                <div class="content">
                                    <a class="header">{{ i.name }}</a>
                                    <div class="meta">
                                        <span class="date">Joined in {{ i.ctime|date:'Y/m/d H:i:s' }}</span>
                                    </div>
                                    <div class="description">
                                        {{ i.description }}
                                    </div>
                                    <div class="meta">
                                        {{ i.dtype_uuid }}
                                    </div>
                                </div>
                                <div class="extra content" style="padding: 1px 5px;">
                                    <div class="ui two buttons">
                                        <div data-id='{{  i.id }}' id='dataview' class="ui basic green button">查看</div>
                                        <div data-id='{{ i.id }}' class="ui basic red button">删除</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui confirm modal">
        <div class="header">
            提示
        </div>
        <div class="content">
            <p>确认删除当前设备吗？</p>
        </div>
        <div class="actions">
            <div class="ui negative button">
                放弃
            </div>
            <div data-id="" class="ui positive right labeled icon button">
                删除
                <i class="checkmark icon"></i>
            </div>
        </div>
</div>
<script type='text/javascript'>
    $(function(){
        $(".ui.basic.red.button").on('click', function() {
            var id = $(this).attr('data-id');
            console.log(id);
            $('.ui.confirm.modal').modal('show');
            $('.ui.positive.right.labeled.icon.button').attr('data-id', id);
        })
        $('.ui.positive.right.labeled.icon.button').on('click', function() {
            var id = $(this).attr('data-id');
            console.log(id);
            $.post('/user/device/list',
                {
                    "id": id,
                },
                function(data) {
                    console.log(data);
                    window.location.reload(true);
                }
            )
        })

        $('.ui.basic.green.button').on('click', function () {
            let deviceId = $(this).attr('data-id');
            window.location.href = '/user/device/data?id=' + String(deviceId);
        })
    })
</script>
{% endblock %}