{% extends 'user/base.html' %}
{% block main %}
    <div class="ui equal width left aligned padded grid stackable">
        <div class="ui row">
            <div class="ui sixteen wide column">
                <div class="ui segments">
                    <div class="ui segment">
                        <h5 class="ui left floated header">设备规则</h5>
                        <button class="ui right floated basic primary button" id="add_ruler">增加</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ui segment">
                        <div class="ui four stackable cards">
                            {% for ruler in rulers %}
                            <div class="ui card">
                                <div class="content">
                                    <a class="header">{{ ruler.name }}</a>
                                    <div class="meta">
                                        <span class="date">Joined in {{ ruler.ctime|date:'Y/m/d H:i:s' }}</span>
                                    </div>
                                    <div class="description">
                                        {{ ruler.description }}
                                    </div>
                                    <div class="meta">
                                        {{ ruler.ruler }}
                                    </div>
                                </div>
                                <div class="extra content">
                                    <div data-id="{{ ruler.id }}" class="fluid ui inverted red button">删除</div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui confirm modal">
        <div class="header">
            增加规则
        </div>
        <div class="content">
            <div class="ui form">
                <div class="ui hidden">{% csrf_token %}</div>
                <div class="field">
                    <label>规则名称</label>
                    <div class="ui left icon input">
                        <input name="ruler_name" type="text" placeholder="ruler name">
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>规则描述</label>
                    <div class="ui left icon input">
                        <input name="ruler_description" type="text" placeholder="ruler description">
                    </div>
                </div>
                <div class="field">
                    <label>规则</label>
                    <div class="ui left icon input">
                        <input name="ruler_ruler" type="text" placeholder="ruler">
                    </div>
                </div>
                <div class="field">
                    <div id="btn_submit" class="ui right floated blue submit button">增加</div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }
                })
            $("#add_ruler").on('click', function () {
                $(".ui.confirm.modal").modal('show');
            })
            $("#btn_submit").on('click', function () {
                let ruler_name = $("input[name='ruler_name']").val();
                let ruler_description = $("input[name='ruler_description']").val();
                let ruler_ruler = $("input[name='ruler_ruler']").val();
                console.log(ruler_name+ruler_description+ruler_ruler);
                $.ajaxSetup({
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }
                })
                $.post('/user/device/ruler',
                    {
                        act: 'add',
                        name: ruler_name,
                        description: ruler_description,
                        ruler: ruler_ruler,
                    },
                    function (data) {
                        console.log(data);
                        if (data.err == 'None') {
                            window.location.reload(true);
                        }
                    }
                )
            })
            $(".fluid.ui.inverted.red.button").on('click', function () {
                let id = $(this).attr('data-id');
                console.log(id);
                $.post('/user/device/ruler',
                    {
                        id: id,
                        act: 'delete',
                    },
                    function (data) {
                        console.log(data);
                        if (data.err == 'None') {
                            window.location.reload(true);
                        }
                    }
                )
            })
        })
    </script>
{% endblock %}