{% extends 'user/base.html' %}
{% block main %}
<div class="ui equal width left aligned padded grid stackable">
    <div class="ui row">
        <div class="ui sixteen wide column">
            <div class="ui segments">
                <div class="ui segment">
                    <h5 class="ui header">
                        增加设备
                    </h5>
                </div>
                <div class="ui segment">
                    <div class="ui one column middle aligned very relaxed stackable grid">
                        <div class="column">
                            <div class="ui form">
                                <div class="field">
                                    <label>设备名称</label>
                                    <div class="ui left icon input">
                                        <input name="device_name" type="text" placeholder="设备名称">
                                        <i class="user icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>设备描述</label>
                                    <div class="ui left icon input">
                                        <input name="device_description" type="text" placeholder="设备描述">
                                        <i class="user icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>设备类型</label>
                                    <div class="ui input">
                                        <select id="device_type" class="ui compact selection dropdown">
                                            <option value="one">压力传感器</option>
                                            <option value="PM25">PM2.5传感器</option>
                                            <option selected="" value="three">CO2传感器</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>传输协议</label>
                                    <div class="ui input">
                                        <select id="device_protocol" class="ui compact selection dropdown">
                                            <option value="zigbee">Zigbee</option>
                                            <option value="two">lora</option>
                                            <option value="three">none</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field">
                                    <div id="btn_submit" class="ui blue submit button">提交</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('#btn_submit').on('click', function() {
            var device_name = $(":input[name='device_name']").val()
            var device_description = $(":input[name='device_description']").val()
            var device_type = $('#device_type').find('option:selected').val()
            var device_protocol = $('#device_protocol').find('option:selected').val()
            console.log(device_name)
            console.log(device_description)
            console.log(device_type)
            console.log(device_protocol)

            $.post('/user/device/add',
                {
                    'name':device_name,
                    'description':device_description,
                    'dtype':device_type,
                    'dprotocol':device_protocol,
                },
                function(data) {
                    console.log(data);
                    if (data.err == 'None')
                        window.location.href = '/user/device/list';
                }
            )


        })
    })
</script>
{% endblock %}