{% extends 'user/base.html' %}
{% block main %}
<div class="ui equal width left aligned padded grid stackable">
    <div class="ui row">
        <div class="ui sixteen wide column">
            <div class="ui segments">
                <div class="ui segment">
                    <h5 class="ui header">
                        设备列表
                    </h5>
                </div>
                <div class="ui segment">
                    <div class="ui ten stackable cards">
                        {% for i in devicelist %}
                        <div class="ui card">
                            <div class="image">
                                <img src="" data-src="" class="transition visible">
                                <div class="content">
                                    <a class="header">{{ i.name }}</a>
                                    <div class="meta">
                                        <span class="date">Joined in 2011</span>
                                    </div>
                                    <div class="description">
                                        description
                                    </div>
                                </div>
                                <div class="extra content">
                                    <div class="ui two buttons">
                                        <div class="ui basic green button">查看</div>
                                        <div data-id='{{ i.id }}' class="ui basic red button">删除</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui confirm modal">
        <div class="header">
            Delete Your Account
        </div>
        <div class="content">
            <p>Are you sure you want to delete your account</p>
        </div>
        <div class="actions">
            <div class="ui negative button">
                No
            </div>
            <div data-id="" class="ui positive right labeled icon button">
                Yes
                <i class="checkmark icon"></i>
            </div>
        </div>
</div>
<script type='text/javascript'>
    $(function(){
        $(".ui.basic.red.button").on('click', function() {
            var id = $(this).attr('data-id');
            console.log(id);
            $('.ui.confirm.modal').modal('show');
            $('.ui.positive.right.labeled.icon.button').attr('data-id', id);
        })
        $('.ui.positive.right.labeled.icon.button').on('click', function() {
            var id = $(this).attr('data-id');
            console.log(id);
            $.post('/user/device/list',
                {
                "id": id,
                },
                function(data) {
                    console.log(data);
                }
            )
        })
    })
</script>
{% endblock %}