{% extends 'user/base.html' %}
{% block main %}
<div class="ui equal width left aligned padded grid stackable">
    <div class="ui row">
        <div class="ui sixteen wide column">
            <div class="ui segments">
                <div class="ui segment">
                    <h5 class="ui header">
                        正在使用的密钥
                    </h5>
                </div>
                <div class="ui segment">
                    <div class="ui divided selection list">
                        <a class="item">
                            <div class="ui red horizontal label">AES Key</div>
                            {{ sk.AES }}
                        </a>
                        <a class="item">
                            <div class="ui purple horizontal label">RSA Private</div>
                            {{ sk.RSA_Private }}
                        </a>
                        <a class="item">
                            <div class="ui red horizontal label">RSA Public</div>
                            {{ sk.RSA_Public }}
                        </a>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui basic red button">重置密钥</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui confirm modal">
        <div class="ui hidden">
            {% csrf_token %}
        </div>
        <div class="header">
            Delete Your Account
        </div>
        <div class="content">
            <p>Are you sure you want to delete your account</p>
        </div>
        <div class="actions">
            <div class="ui negative button">
                No
            </div>
            <div id="confirm" data-id="" class="ui positive right labeled icon button">
                Yes
                <i class="checkmark icon"></i>
            </div>
        </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.ui.basic.red.button').on('click', function () {
            console.log('reset button click');
            $('.ui.confirm.modal').modal('show');
        })
        $('#confirm').on('click', function () {
            console.log('confirm button click');
            $.ajaxSetup({
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
            })
            $.post(
                '/user/keymaster/',
                {
                    'reset': true
                },
                function (data) {
                    console.log(data);
                    window.location.reload(true);
                }
            )
        })
    })
</script>
{% endblock %}