{% extends 'user/base.html' %}
{% block main %}
<div class="ui equal width left aligned padded grid stackable fullheight">
    <div class="ui row">
        <div class="ui fourteen wide column">
            <div class="ui segments">
                <div class="ui segment">
                    <h5 class="ui header">
                        权限管理
                    </h5>
                </div>
                <div class="ui segment">
                    <div class="ui form">
                        <div class="field">
                            <label>用户名</label>
                            <div class="ui input">
                                <select class="ui dropdown user">
                                    {% for e in employee %}
                                    <option value="{{ e.user__username }}">{{ e.user__username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="current_perm" class="ui field">

                        </div>
                        <div class="field">
                            <label>权限组</label>
                            <div class="ui input">
                                <select class="ui dropdown perm" multiple="multiple">
                                    {% for p in permission %}
                                    <option value="{{ p.id }}">{{ p.name }}:{{ p.permission }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <button id="change_perm" class="ui primary button">更改权限</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function () {
    $(".ui.dropdown.user").on('change', function () {
        let cur = $(this).dropdown('get value');
        console.log(cur);
        $.get('/api/user/permission', {
                username: cur,
            },
            function (data) {
                console.log(data);
                if (data.err != 'None')
                    return;
                $("#current_perm").empty().append('<label>当前权限</label>');
                for (let v in data.perms) {
                    $("#current_perm").append(data.perms[v].permission__name+';');
                }
            })
    })

    $("#change_perm").on('click', function () {
        let cur = $(".ui.dropdown.user").dropdown('get value');
        console.log(cur);
        let perms = $(".ui.dropdown.perm").dropdown('get value');
        let tmp = '';
        for (let p in perms) {
            tmp = tmp.concat(perms[p] + ';');
        }
        console.log(perms);
        $.ajaxSetup({
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        })
        $.post('/api/user/permission', {
            username: cur,
            perms: JSON.stringify(perms),
        }, function (data) {
            if (data.err == 'None') {
                window.location.reload(true);
            }
        })
    })
})
</script>
{% endblock %}