{% extends 'user/base.html' %}
{% block main %}
<div class="ui equal width left aligned padded grid stackable">
    <div class="ui row">
        <div class="ui fourteen wide column">
            <div class="ui segments">
                <div class="ui segment">
                    <h5 class="ui header">
                        增加用户
                    </h5>
                </div>
                <div class="ui segment">
                    <div class="ui form">
                        <div class="field">
                            <label>用户名</label>
                            <div class="ui left icon input">
                                <input name="user_name" type="text" placeholder="user name">
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>邮箱</label>
                            <div class="ui left icon input">
                                <input name="user_email" type="text" placeholder="email">
                                <i class="mail icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <label>初始密码</label>
                            <div class="ui left icon input">
                                <input name="user_password" type="text" placeholder="password">
                                <i class="hide icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <button id="btn_add_user" class="ui basic primary button">增加</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $("#btn_add_user").on('click', function() {
            let user_name = $("input[name='user_name']").val();
            let user_email = $("input[name='user_email']").val();
            let user_password = $("input[name='user_password']").val();
            console.log(user_name);
            console.log(user_email);
            console.log(user_password);
            });
        });
</script>
{% endblock %}